<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="Demo.ReporteListener"/>
    </listeners>
  <test thread-count="5" name="funcional Test">
    <classes>
      <class name="Demo.VerificacionDeAccesoAmoduloAvanzado"/>
      <class name="Demo.AccesoALeccionesDeesdePaginaModulo"/>
      <class name="Demo.VerificacionDeAccesoAmoduloBasico2"/>
      <class name="Demo.NavegacionUsuariosSinConocimentos"/>
      <class name="Demo.TiempoDeCargaEnBlog"/>
      <class name="Demo.AccesoALeccionesDesdeModuloBasico"/>
      <class name="Demo.CompatibilidadEnDiferentesNavegadores"/>
      <class name="Demo.RedireccionCorrectaAEvaluacionesExternas"/>
      <class name="Demo.VerificacionDeAccesoAmoduloIntermedio"/>
      <class name="Demo.FuncionamientoBarraBusqueda"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
